{% extends "index.html" %}

{%block principal %}

<main class="text-center bg_auxiliar">
	<div class="container bg_primario">
		<div class="row">
			<div class="col-sm-12 col-lg-1">
			</div>
			<div class="col-sm-12 col-lg-10">
				<div class="row">
					<div class="col-lg-4 col-sm-12">
						<img class="col-12" src="/assets/images/ufpb-logo.png" alt="Logo da UFPB">
					</div>
					<div class="col-lg-7 col-sm-12 d-block">
						<br><br>
						<h4>Universidade Federal da Paraíba</h4>
						<h5>Centro de Informática</h5>
						<h5>Bacharelado em Ciência da Computação</h5>
						<h5>Cálculo Numérico-2018.2 | Prof. Dr. Gustavo Charles</h5>
					</div>
					<div class="col-lg-1 col-sm-12">
					</div>
				</div>
				<div class="col-12">
					<br><br>
					<h3 class="tx_primario">Métodos Numéricos</h3>
					<br>
				</div>
				<div class="text-right col-12">
					<h6>Leandro Gomes do Nascimento</h6>
					<h6>Andrew Galvão de Figueiredo</h6>
					<h6>Danillo Medeiros Moraes</h6>
					<h6>Ednaldo Martins da Silva</h6>
					<h6>Francisco Erberto de Sousa</h6>
					<h6>Gustavo Colaço Dalbuquerque</h6>
					<h6>Michelle Santos da Silva</h6>
				</div>
				<div class="col-12 pr-4">
					<br>
					<h6>João Pessoa</h6>
					<h6>Fevereiro/2019</h6>
					<br>
				</div>
			</div>
			<div class="col-sm-12 col-lg-1">
			</div>
		</div>
	</div>
</main>

{% endblock %}