{% extends "index.html" %}

{%block principal %}

<main class="text-center bg_auxiliar">
	<div class="container bg_primario">
		<div class="row">
			<div class="col-sm-12 col-lg-1">
			</div>
			<div class="col-sm-12 col-lg-10">
				<div>
					<br><br><br><br><br><br><br><br><br>
					Descrição da equipe ou algum texto que mostre a relevância do trabalho.
					<br><br><br><br><br><br><br><br><br>
				</div>
			</div>
			<div class="col-sm-12 col-lg-1">
			</div>
		</div>
	</div>
</main>

{% endblock %}